# Build and install directories
build/
install/
log/

# Output directory
output/

# Data folder
project_hj_v2/
sam_3d_test/
runs/

# Python cache
__pycache__/
*.pyc

# Images
*.png
*.pt

# IDE
.vscode/
.idea/
.claude/
.venv/

# ROS2 generated
*.egg-info/
